<div class="report-widget">
    <h3><?= e(trans('artdark.multibackend::lang.widget.widget_name')) ?></h3>

    <div class="control-status-list">
        <ul>
            <li>
                <div style="display: flex;" >
                <select class="form-control custom-select" id="customFormTheme" name="theme_value" style="width: 80%">
                    {% for theme in themes %}
                    {% if theme == active %}
                    <option selected="selected"  value="item">{{ theme }}</option>
                    {% else %}
                    <option value="item">{{ theme }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                    <button type="button" data-request="onSwitchTheme" data-request-data="theme: '{{active}}'" class="btn theme-btn btn-success" style="margin-left: 50px;">
                        <?= e(trans('artdark.multibackend::lang.widget.update_btn_text')) ?> <span class="fa icon-recycle"></span>
                    </button>
                </div>
            </li>

        </ul>
    </div>
</div>

<script>
    let selectTheme
    $('#customFormTheme').on('select2:select', function (e) {
        selectTheme = e.params.data.text;
        $('.theme-btn').attr('data-request-data', `theme: '${selectTheme}'`);
    });
</script>
